<footer class="pt-24 pb-8 flex flex-col">
  <section class="mx-auto max-w-7xl w-11/12 py-20 border-b border-white">
    <div class="flex flex-row justify-between lg:gap-x-0 gap-x-8">
      <div>
        <h2
          class="text-white text-[2.8125rem] leading-[3.75rem] text-start"
          data-i18n="footer.title"
        >
          Get a quote with us today
        </h2>
      </div>

      <div class="flex items-center">
        <button
          class="px-4 bg-white rounded-xl text-[#035883] hover:scale-105 w-full h-full"
        >
          <a data-i18n="footer.contactus" href="/contact">Contact Us</a>
        </button>
      </div>
    </div>
  </section>
  <section class="mx-auto max-w-[90rem] w-11/12 pt-8 lg:px-12">
    <div
      class="flex lg:flex-row flex-col-reverse justify-evenly lg:gap-x-0 gap-y-12 pb-4"
    >
      <div class="flex-col gap-y-4 flex">
        <h1 class="font-bold text-lg text-white">
          Universal Windows and Doors
        </h1>
        <h2
          data-i18n="footer.uwddesc"
          class="text-[0.9375rem] leading-[1.6875rem] font-normal text-white"
          data-i18n-html
        >
          UWD Multiservices seamlessly connects with you through <br /> social media
          and Whatsapp.
        </h2>
        <div class="flex justify-center flex-row gap-[2vh] lg:ml-7 mt-4">
          <a
            href="https://web.facebook.com/profile.php?id=61560963080897"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="h-[50.693px] fill-white transition-fill-03s cursor-pointer hover:scale-105 hover:text-indigo-300"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              ><path
                d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
              ></path></svg
            >
          </a>
          <a
            href="https://wa.me/13057858574"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="hover:scale-105"
              height="50.693px"
              id="Layer_1"
              style="enable-background:new 0 0 56.693 56.693;"
              version="1.1"
              viewBox="0 0 56.693 56.693"
              width="50.693px"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <style type="text/css">
                .st0 {
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                  fill: #ffffff;
                }
              </style>
              <g>
                <path
                  class="st0"
                  d="M46.3802,10.7138c-4.6512-4.6565-10.8365-7.222-17.4266-7.2247c-13.5785,0-24.63,11.0506-24.6353,24.6333c-0.0019,4.342,1.1325,8.58,3.2884,12.3159l-3.495,12.7657l13.0595-3.4257c3.5982,1.9626,7.6495,2.9971,11.7726,2.9985h0.01c0.0008,0-0.0006,0,0.0002,0c13.5771,0,24.6293-11.0517,24.635-24.6347C53.5914,21.5595,51.0313,15.3701,46.3802,10.7138zM28.9537,48.6163h-0.0083c-3.674-0.0014-7.2777-0.9886-10.4215-2.8541l-0.7476-0.4437l-7.7497,2.0328l2.0686-7.5558l-0.4869-0.7748c-2.0496-3.26-3.1321-7.028-3.1305-10.8969c0.0044-11.2894,9.19-20.474,20.4842-20.474c5.469,0.0017,10.6101,2.1344,14.476,6.0047c3.8658,3.8703,5.9936,9.0148,5.9914,14.4859C49.4248,39.4307,40.2395,48.6163,28.9537,48.6163z"
                ></path>
                <path
                  class="st0"
                  d="M40.1851,33.281c-0.6155-0.3081-3.6419-1.797-4.2061-2.0026c-0.5642-0.2054-0.9746-0.3081-1.3849,0.3081c-0.4103,0.6161-1.59,2.0027-1.9491,2.4136c-0.359,0.4106-0.7182,0.4623-1.3336,0.1539c-0.6155-0.3081-2.5989-0.958-4.95-3.0551c-1.83-1.6323-3.0653-3.6479-3.4245-4.2643c-0.359-0.6161-0.0382-0.9492,0.27-1.2562c0.2769-0.2759,0.6156-0.7189,0.9234-1.0784c0.3077-0.3593,0.4103-0.6163,0.6155-1.0268c0.2052-0.4109,0.1027-0.7704-0.0513-1.0784c-0.1539-0.3081-1.3849-3.3379-1.8978-4.5706c-0.4998-1.2001-1.0072-1.0375-1.3851-1.0566c-0.3585-0.0179-0.7694-0.0216-1.1797-0.0216s-1.0773,0.1541-1.6414,0.7702c-0.5642,0.6163-2.1545,2.1056-2.1545,5.1351c0,3.0299,2.2057,5.9569,2.5135,6.3676c0.3077,0.411,4.3405,6.6282,10.5153,9.2945c1.4686,0.6343,2.6152,1.013,3.5091,1.2966c1.4746,0.4686,2.8165,0.4024,3.8771,0.2439c1.1827-0.1767,3.6419-1.489,4.1548-2.9267c0.513-1.438,0.513-2.6706,0.359-2.9272C41.211,33.7433,40.8006,33.5892,40.1851,33.281z"
                ></path>
              </g>
            </svg>
          </a>
          <a
            href="https://www.instagram.com/uwdmultiservices?igsh=ams5aG45YTAzbmo3"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="fill-white transition-fill-03s cursor-pointer hover:scale-105"
              height="
              56.693px"
              version="1.1"
              viewBox="0 0 566.93 566.93"
              width="56.693px"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              ><path
                d="M256,0c141.29,0 256,114.71 256,256c0,141.29 -114.71,256 -256,256c-141.29,0 -256,-114.71 -256,-256c0,-141.29 114.71,-256 256,-256Zm0,96c-43.453,0 -48.902,0.184 -65.968,0.963c-17.03,0.777 -28.661,3.482 -38.839,7.437c-10.521,4.089 -19.444,9.56 -28.339,18.455c-8.895,8.895 -14.366,17.818 -18.455,28.339c-3.955,10.177 -6.659,21.808 -7.437,38.838c-0.778,17.066 -0.962,22.515 -0.962,65.968c0,43.453 0.184,48.902 0.962,65.968c0.778,17.03 3.482,28.661 7.437,38.838c4.089,10.521 9.56,19.444 18.455,28.34c8.895,8.895 17.818,14.366 28.339,18.455c10.178,3.954 21.809,6.659 38.839,7.436c17.066,0.779 22.515,0.963 65.968,0.963c43.453,0 48.902,-0.184 65.968,-0.963c17.03,-0.777 28.661,-3.482 38.838,-7.436c10.521,-4.089 19.444,-9.56 28.34,-18.455c8.895,-8.896 14.366,-17.819 18.455,-28.34c3.954,-10.177 6.659,-21.808 7.436,-38.838c0.779,-17.066 0.963,-22.515 0.963,-65.968c0,-43.453 -0.184,-48.902 -0.963,-65.968c-0.777,-17.03 -3.482,-28.661 -7.436,-38.838c-4.089,-10.521 -9.56,-19.444 -18.455,-28.339c-8.896,-8.895 -17.819,-14.366 -28.34,-18.455c-10.177,-3.955 -21.808,-6.66 -38.838,-7.437c-17.066,-0.779 -22.515,-0.963 -65.968,-0.963Zm0,28.829c42.722,0 47.782,0.163 64.654,0.933c15.6,0.712 24.071,3.318 29.709,5.509c7.469,2.902 12.799,6.37 18.397,11.969c5.6,5.598 9.067,10.929 11.969,18.397c2.191,5.638 4.798,14.109 5.509,29.709c0.77,16.872 0.933,21.932 0.933,64.654c0,42.722 -0.163,47.782 -0.933,64.654c-0.711,15.6 -3.318,24.071 -5.509,29.709c-2.902,7.469 -6.369,12.799 -11.969,18.397c-5.598,5.6 -10.928,9.067 -18.397,11.969c-5.638,2.191 -14.109,4.798 -29.709,5.509c-16.869,0.77 -21.929,0.933 -64.654,0.933c-42.725,0 -47.784,-0.163 -64.654,-0.933c-15.6,-0.711 -24.071,-3.318 -29.709,-5.509c-7.469,-2.902 -12.799,-6.369 -18.398,-11.969c-5.599,-5.598 -9.066,-10.928 -11.968,-18.397c-2.191,-5.638 -4.798,-14.109 -5.51,-29.709c-0.77,-16.872 -0.932,-21.932 -0.932,-64.654c0,-42.722 0.162,-47.782 0.932,-64.654c0.712,-15.6 3.319,-24.071 5.51,-29.709c2.902,-7.468 6.369,-12.799 11.968,-18.397c5.599,-5.599 10.929,-9.067 18.398,-11.969c5.638,-2.191 14.109,-4.797 29.709,-5.509c16.872,-0.77 21.932,-0.933 64.654,-0.933Zm0,49.009c-45.377,0 -82.162,36.785 -82.162,82.162c0,45.377 36.785,82.162 82.162,82.162c45.377,0 82.162,-36.785 82.162,-82.162c0,-45.377 -36.785,-82.162 -82.162,-82.162Zm0,135.495c-29.455,0 -53.333,-23.878 -53.333,-53.333c0,-29.455 23.878,-53.333 53.333,-53.333c29.455,0 53.333,23.878 53.333,53.333c0,29.455 -23.878,53.333 -53.333,53.333Zm104.609,-138.741c0,10.604 -8.597,19.199 -19.201,19.199c-10.603,0 -19.199,-8.595 -19.199,-19.199c0,-10.604 8.596,-19.2 19.199,-19.2c10.604,0 19.201,8.596 19.201,19.2Z"
              ></path></svg
            >
          </a>
        </div>
      </div>
      <div class="flex flex-col h-full gap-y-12">
        <div class="flex items-center gap-x-8">
          <div>
            <svg
              class="w-8 h-8 text-white hover:text-blue-900 transition"
              xmlns="http://www.w3.org/2000/svg"
              width="800"
              height="800"
              viewBox="0 0 512 512"
              ><path
                fill="currentColor"
                fill-rule="evenodd"
                d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
              ></path></svg
            >
          </div>
          <a href="mailto:info@uwdmultiservices.com">
            <h2
              class="text-[0.9375rem] leading-[1.6875rem] font-bold text-white hover:scale-105 transition"
            >
              info@uwdmultiservices.com
            </h2>
          </a>
        </div>
        <div class="flex items-center gap-x-8">
          <div>
            <svg
              class="w-8 h-8 text-white hover:text-blue-900 transition"
              xmlns="http://www.w3.org/2000/svg"
              width="800"
              height="800"
              viewBox="0 0 512 512"
              ><path
                fill="currentColor"
                fill-rule="evenodd"
                d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
              ></path></svg
            >
          </div>
          <a href="tel:+13057858574">
            <h3
              class="text-[0.9375rem] leading-[1.6875rem] font-bold text-white hover:scale-105 transition"
            >
              +1 (305) 785-8574
            </h3>
          </a>
        </div>
        <div class="flex items-center gap-x-8">
          <div>
            <svg
              class="w-8 h-8 text-white hover:text-blue-900 transition"
              xmlns="http://www.w3.org/2000/svg"
              width="800"
              height="800"
              viewBox="0 0 384 512"
              ><path
                fill="currentColor"
                fill-rule="evenodd"
                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
              ></path></svg
            >
          </div>
          <h3
            class="text-[0.9375rem] leading-[1.6875rem] font-normal text-white"
          >
            3195 N. Powerline Rd. <br /> Suite 110. <br /> Pompano Beach, FL. 33069
          </h3>
        </div>
      </div>

      <div class="lg:flex flex-col gap-y-4 hidden">
        <a href="/#services" class="hover:scale-105"
          ><h1
            data-i18n="footer.services"
            class="text-[1.0625rem] font-bold text-white"
          >
            Services
          </h1></a
        >
        <a
          data-i18n="footer.contactus"
          href="/contact"
          class="hover:scale-105 text-[1rem] font-normal text-white"
          >Contact Us</a
        >
      </div>
    </div>
    <p
      class="flex items-center lg:justify-start justify-center lg:pt-0 pt-8 text-sm text-center text-white"
    >
      &copy; 2024 Universal Windows and Doors
    </p>
  </section>
</footer>
