<header
  class="lg:flex lg:justify-between lg:py-5 py-5 mx-auto max-w-[90rem] w-11/12"
>
  <div class="flex justify-center items-center">
    <a href="/" class="hover:scale-105">
      <img
        class="h-[80px] w-[133px] object-fill"
        src="/UnivWindowslogo.png"
        alt="UWD logo"
      />
    </a>
  </div>
  <nav class="flex flex-row gap-3 lg:gap-11 justify-center items-center">
    <a
      href="/#about"
      data-i18n="header.aboutus"
      class="hover:scale-105 text-[1rem]">About us</a
    >
    <a
      href="/#services"
      data-i18n="header.services"
      class="hover:scale-105 text-[1rem]">Services</a
    >
    <a
      href="/portfolio"
      data-i18n="header.portfolio"
      class="hover:scale-105 text-[1rem]">Our Work</a
    >
    <a
      href="/contact"
      data-i18n="header.contact"
      class="hover:scale-105 text-[1rem]">Contact</a
    >
  </nav>
  <div class="flex items-center justify-center lg:pt-0 pt-3">
    <button
      onclick="changeLanguage()"
      class="text-[1rem] rounded-md hover:scale-105"
      >&#127482;&#127480;/&#x1F1F2;&#x1F1FD;</button
    >
  </div>
</header>
