<section class="mx-auto max-w-[95rem] w-11/12" id="home">
  <div class="relative flex">
    <div
      class="w-full overflow-hidden relative animate-fade-right animate-once animate-duration-1500 z-10 animate-ease-in"
    >
      <div class="absolute inset-0"></div>
      <div
        class="relative z-10 p-4 ml-4 my-4 flex flex-col bg-white lg:bg-opacity-75 bg-opacity-45 lg:w-3/12"
      >
        <h1
          class="text-[54px] leading-[72px] font-black"
          data-i18n="hero.welcomemessage"
        >
          We Help You <br /> Install Your <br /> Windows, <br /> Doors and <br
          />More
        </h1>
        <h2 class="text-[20px] leading-[30px]" data-i18n="hero.description">
          We will help you make an elegant <br /> and luxurious finish upon installing
          <br />your windows and doors.
        </h2>
      </div>
    </div>
    <div
      class="absolute w-full h-full flex animate-fade-left animate-once animate-duration-1500 animate-ease-in"
    >
      <div class="w-1/4"></div>
      <video
        class="w-full h-full object-cover z-0"
        autoplay
        muted
        loop
        playsinline
        webkit-playsinline
      >
        <source src="clearwater/hero.mp4" type="video/mp4" />
      </video>
      {
        /* <img
        class="w-full h-full object-cover"
        src="hero.jpg"
        alt="Hero img"
      />
      */
      }
    </div>
  </div>
  <div class="lg:border-[0px] border-b border-[#035883] mt-20"></div>
</section>
