<section
  class="mvv w-full lg:h-[53vh] h-full lg:py-0 py-10 bg-[#99CEE2]"
  id="mvvElement"
>
  <div class="mx-auto max-w-7xl w-11/12 lg:py-10 hidden" id="mvvInfo">
    <div class="flex flex-col lg:gap-y-12 gap-y-4">
      <div class="flex lg:flex-row flex-col justify-evenly lg:gap-x-8 gap-3">
        <div class="flex flex-col gap-y-2">
          <div class="flex justify-center item">
            <img src="icons/mision.png" alt="Mission Icon" class="h-10 w-10" />
          </div>
          <h1 class="text-white text-center font-bold" data-i18n="mvv.mission">
            Experiencia
          </h1>
          <h2
            class="text-white text-sm text-center"
            data-i18n="mvv.missiondesc"
          >
            Años de experiencia en el sector nos avalan.
          </h2>
        </div>
        <div class="flex flex-col gap-y-2">
          <div class="flex justify-center">
            <img
              src="icons/vision-compartida.png"
              alt="Vision Icon"
              class="h-10 w-10"
            />
          </div>
          <h1 class="text-white text-center font-bold" data-i18n="mvv.vision">
            Experiencia
          </h1>
          <h2 class="text-white text-sm text-center" data-i18n="mvv.visiondesc">
            Años de experiencia en el sector nos avalan.
          </h2>
        </div>
      </div>
      <div class="flex flex-col gap-y-2">
        <div class="flex justify-center">
          <img src="icons/valor.png" alt="Values Icon" class="h-10 w-10" />
        </div>
        <h1 class="text-white text-center font-bold" data-i18n="mvv.values">
          Experiencia
        </h1>
        <h2
          class="text-white text-center text-sm"
          data-i18n="mvv.valuesdesc"
          data-i18n-html
        >
          Años de experiencia en el sector nos avalan.
        </h2>
      </div>
    </div>
  </div>
</section>

<style>
  .mvv {
    height: 100px;
    -webkit-transition: height 0.35s ease-in-out;
    transition: height 0.35s ease-in-out;
  }

  .mvv.expanded {
    height: 100%;
  }

  @media only screen and (min-width: 769px) {
    .mvv.expanded {
      height: 53vh;
    }
  }
</style>
