<section class="w-full lg:h-[24vh] h-[15vh] bg-[#99CEE2]">
  <div class="mx-auto max-w-7xl w-11/12 pt-10">
    <div class="flex flex-row justify-evenly lg:gap-x-8 gap-3">
      <div
        class="flex flex-col gap-y-2 animate-fade-up animate-once animate-duration-[1500ms] animate-ease-in"
      >
        <div class="flex justify-center item">
          <img
            src="icons/experiencia.png"
            alt="Experience Icon"
            class="h-10 w-10 animate-bounce animate-infinite"
          />
        </div>
        <h1
          class="text-white text-center font-bold lg:text-lg text-sm lg:text-lg text-sm"
          data-i18n="qualities.experience"
        >
          Experiencia
        </h1>
        <h2
          class="text-white text-sm text-center hidden lg:block"
          data-i18n="qualities.experiencedesc"
        >
          A単os de experiencia en el sector nos avalan.
        </h2>
      </div>
      <div
        class="flex flex-col gap-y-2 animate-fade-up animate-once animate-duration-[1750ms] animate-ease-in"
      >
        <div class="flex justify-center">
          <img
            src="icons/escudo-seguro.png"
            alt="Security Icon"
            class="h-10 w-10 animate-bounce animate-infinite"
          />
        </div>
        <h1
          class="text-white text-center font-bold lg:text-lg text-sm"
          data-i18n="qualities.security"
        >
          Experiencia
        </h1>
        <h2
          class="text-white text-sm text-center hidden lg:block"
          data-i18n="qualities.securitydesc"
        >
          A単os de experiencia en el sector nos avalan.
        </h2>
      </div>
      <div
        class="flex flex-col gap-y-2 animate-fade-up animate-once animate-duration-[2000ms] animate-ease-in"
      >
        <div class="flex justify-center">
          <img
            src="icons/profesionalismo.png"
            alt="Professionalism Icon"
            class="h-10 w-10 animate-bounce animate-infinite"
          />
        </div>
        <h1
          class="text-white text-center font-bold lg:text-lg text-sm"
          data-i18n="qualities.professionalism"
        >
          Experiencia
        </h1>
        <h2
          class="text-white text-center text-sm hidden lg:block"
          data-i18n="qualities.professionalismdesc"
        >
          A単os de experiencia en el sector nos avalan.
        </h2>
      </div>
      <div
        class="flex flex-col gap-y-2 animate-fade-up animate-once animate-duration-[2250ms] animate-ease-in"
      >
        <div class="flex justify-center">
          <img
            src="icons/fiabilidad.png"
            alt="Quality Icon"
            class="h-10 w-10 animate-bounce animate-infinite"
          />
        </div>
        <h1
          class="text-white text-center font-bold lg:text-lg text-sm"
          data-i18n="qualities.quality"
        >
          Experiencia
        </h1>
        <h2
          class="text-white text-center text-sm hidden lg:block"
          data-i18n="qualities.qualitydesc"
        >
          A単os de experiencia en el sector nos avalan.
        </h2>
      </div>
    </div>
  </div>
</section>
