<section class="mx-auto max-w-[100rem] w-11/12 py-28" id="services">
  <div class="flex flex-col justify-center items-center gap-y-5 pb-5">
    <h1
      class="font-bold text-[3.125rem] leading-[3.125rem] text-center"
      data-i18n="ourservices.title"
    >
      Our Services
    </h1>
    <h2
      class="text-[1rem] leading-[1.625rem] font-normal text-center"
      data-i18n="ourservices.description"
    >
      We provide a wide variety of services including windows & doors
      installation for <br />both residential and commercial buildings.
    </h2>
  </div>

  <div
    class="flex flex-col lg:flex-row gap-x-7 lg:justify-evenly justify-center items-stretch lg:mx-48"
  >
    <div class="flex flex-col gap-y-3 hover:scale-105">
      <img src="windows.png" alt="Windows" class="object-cover h-full w-full" />
      <h2
        class="font-bold text-[1.25rem] leading-[1.75rem] text-gray-700 text-center"
        data-i18n="ourservices.windows"
      >
        Window Installations
      </h2>
      <h3
        class="text-[1rem] leading-[1.625rem] text-gray-600 text-justify"
        data-i18n="ourservices.windowsdesc"
      >
        Window installations description goes here
      </h3>
    </div>
    <div class="flex flex-col gap-y-3 hover:scale-105">
      <img src="doors.png" alt="Doors" class="object-cover h-full w-full" />
      <h2
        class="font-bold text-[1.25rem] leading-[1.75rem] text-gray-700 text-center"
        data-i18n="ourservices.doors"
      >
        Door Installations
      </h2>
      <h3
        class="text-[1rem] leading-[1.625rem] text-gray-600 text-justify"
        data-i18n="ourservices.doorsdesc"
      >
        Door installations description goes here
      </h3>
    </div>
    <div class="flex flex-col gap-y-3 hover:scale-105">
      <img
        src="others.png"
        alt="Other Services"
        class="object-cover h-full w-full"
      />
      <h2
        class="font-bold text-[1.25rem] leading-[1.75rem] text-gray-700 text-center"
        data-i18n="ourservices.other"
      >
        Other Services
      </h2>
      <h3
        class="text-[1rem] leading-[1.625rem] text-gray-600 text-justify"
        data-i18n="ourservices.otherdesc"
      >
        Other services description goes here
      </h3>
    </div>
  </div>
</section>
<section class="mx-auto max-w-[90rem] w-11/12 pb-20">
  <div class="border-b border-[#035883] mb-20"></div>
  <div class="flex flex-col lg:grid lg:grid-rows-2 lg:grid-flow-col lg:gap-12">
    <div
      class="flex flex-col gap-y-4 justify-center animate-on-scroll-r animate-once animate-duration-1000 animate-ease-in"
    >
      <h1
        class="font-bold text-4xl text-gray-800 lg:text-start text-center lg:pb-0 pb-4"
        data-i18n="ourservices.w&d"
      >
        WINDOWS & DOORS INSTALLATION
      </h1>
      <h2
        class="font-normal text-xl text-gray-800"
        data-i18n="ourservices.installationdesc"
        data-i18n-html
      >
        Our team of specialists has installed thousands of windows and <br /> doors
        in homes and businesses across Florida and delivered the <br /> top services
        to our customers.
        <br />
        <br />
        Our windows and doors feature materials and structural <br /> specializations
        to reduce energy waste and give your building a <br /> beautiful look and
        great thermal performance boost.
      </h2>
      <div class="flex justify-center items-center lg:pb-0 py-8">
        <button
          class="bg-[#035883] px-7 hover:bg-white border-[#035883] border w-4/12"
          ><a
            data-i18n="ourservices.appointmentbutton"
            class="text-white text-center hover:text-[#035883]"
            href="/contact">Book an Appointment</a
          >
        </button>
      </div>
    </div>
    <div
      class="animate-on-scroll-r animate-once animate-duration-1500 animate-ease-in"
    >
      <img
        class="object-cover w-full h-full"
        src="services2.webp"
        alt="Services 2"
      />
      {
        /*
      <img
        class="object-cover w-full h-full"
        src="services2.png"
        alt="Services 2"
      />
      */
      }
    </div>

    <div
      class="animate-on-scroll-l animate-once animate-duration-1750 animate-ease-in"
    >
      <img
        class="object-cover w-full h-full"
        src="services1.webp"
        alt="Services 1"
      />
      {
        /* <img
        class="object-cover w-full h-full"
        src="services1.png"
        alt="Services 1"
      />
      */
      }
    </div>
    <div
      class="flex flex-col gap-y-4 justify-center lg:pt-0 pt-8 animate-on-scroll-l animate-once animate-duration-2000 animate-ease-in"
    >
      <h1
        class="font-bold text-4xl text-gray-800"
        data-i18n="ourservices.other2"
      >
        OTHER SERVICES
      </h1>
      <h2
        class="font-normal text-xl text-gray-800 ml-3"
        data-i18n="ourservices.otherdesc2"
        data-i18n-html
      >
        With over 25 years combined experience in residential re-modelling <br
        /> and renovations, we deliver a full spectrum of services to our <br />
        customers.
        <br />
        <br />
        The most challenging projects we delivered include:
        <ul class="list-disc">
          <li>Hurricane Shutters</li>
          <li>First Clean-up in new constructions</li>
          <li>Water Proofing</li>
          <li>Concrete</li>
          <li>Interior Reparations</li>
        </ul>
      </h2>
      <div class="flex justify-center items-center lg:pb-0 py-8">
        <button
          class="bg-[#035883] px-5 hover:bg-white border-[#035883] border w-4/12"
          ><a
            class="text-white hover:text-[#035883]"
            data-i18n="ourservices.quotebutton"
            href="/contact">Get a Quote</a
          ></button
        >
      </div>
    </div>
  </div>
  <div class="border-b border-[#035883] mt-20"></div>
</section>
