<section
  class="mx-auto max-w-[90rem] w-11/12 h-auto bg-white animate-fade animate-duration-[1500ms] pt-12"
>
  <div class="flex flex-col gap-4 items-center justify-center">
    <h1 data-i18n="ourwork.title" class="font-bold text-7xl text-center">
      Our Work
    </h1>
    <h2 data-i18n="ourwork.desc" class="text-xl text-center">
      We present some of our latest projects. Explore more about us.
    </h2>
  </div>
  <div class="grid grid-rows-2 grid-flow-col h-full pt-12">
    <div class="col-span-1 relative overflow-hidden">
      <figure class="effect-layla">
        <div class="absolute inset-0 bg-cover bg-center bg-lexus1"></div>
        <figcaption class="flex justify-center items-center">
          <p class="text-[#035883] font-bold text-2xl lg:text-4xl text-center">
            Lexus Dealer
          </p>
          <a
            id="openLexus"
            href="/ViewerLexus"
            class="hover:scale-105 text-[1rem]">Our Work</a
          >
        </figcaption>
      </figure>
    </div>
    <div class="col-span-1 relative overflow-hidden">
      <figure class="effect-layla">
        <div class="absolute inset-0 bg-cover bg-center bg-perryhotel1"></div>
        <figcaption class="flex justify-center items-center">
          <p class="text-[#035883] font-bold text-2xl lg:text-4xl text-center">
            Perry Hotel
          </p>
          <a id="openPH" href="/ViewerPH" class="hover:scale-105 text-[1rem]"
            >Our Work</a
          >
        </figcaption>
      </figure>
    </div>
    <div class="col-span-1 relative overflow-hidden">
      <figure class="effect-layla">
        <div class="absolute inset-0 bg-cover bg-center bg-olasmarinas1"></div>
        <figcaption class="flex justify-center items-center">
          <p class="text-[#035883] font-bold text-2xl lg:text-4xl text-center">
            Las Olas Marina
          </p>
          <a id="openOM" href="/ViewerOM" class="hover:scale-105 text-[1rem]"
            >Our Work</a
          >
        </figcaption>
      </figure>
    </div>
    <div class="col-span-1 relative overflow-hidden">
      <figure class="effect-layla">
        <div class="absolute inset-0 bg-cover bg-center bg-clearwater1"></div>
        <figcaption class="flex justify-center items-center">
          <p class="text-[#035883] font-bold text-2xl lg:text-4xl text-center">
            Clear Water
          </p>
          <a id="openCW" href="/ViewerCW" class="hover:scale-105 text-[1rem]"
            >Our Work</a
          >
        </figcaption>
      </figure>
    </div>
    <div class="col-span-1 relative overflow-hidden">
      <figure class="effect-layla">
        <div class="absolute inset-0 bg-cover bg-center bg-shalamar1"></div>
        <figcaption class="flex justify-center items-center">
          <p class="text-[#035883] font-bold text-2xl lg:text-4xl text-center">
            Shalamar
          </p>
          <a
            id="openShalamar"
            href="/ViewerShalamar"
            class="hover:scale-105 text-[1rem]">Our Work</a
          >
        </figcaption>
      </figure>
    </div>
  </div>
</section>
